html {
    width: 100%
}

body {
    background-color: bisque;
    width: 100wh;
    margin-left: auto;
    margin-right: auto;
}

header {
    width: 100wh;
    min-height: 50px;
    background-color: beige;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h2 {
    padding-left: 25px;
    padding-right: 25px;
    ;
}

header button {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
}

h2 {
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#cards {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    /* grid-template-rows: repeat(3, max-content); */
    gap: 30px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.card {
    border: 1px solid black;
    border-top: 0;
    border-radius: 25px;
    padding-bottom: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card__title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.card__img {
    width: 100%;
    height: 300px;
    border-radius: 25px 25px 0 0;
    opacity: 0.3;
}

.card__img:hover {
    opacity: 0.8;
}

.fa-trash-alt {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}

.like {
    margin-bottom: 10px;
    margin-left: 55px;
    ;
}

#button__card {
    margin-left: 2.5px;
    border-radius: 25px;
    background-color: coral;
    margin-top: 10px;
}

.button__card-save {
    border-radius: 25px;
    background-color: tomato;
}

#popup {
    width: 100%;
    min-height: 100%;
    display: flex;
    z-index: 0;
    /* opacity: 0; */
    justify-content: center;
    visibility: hidden;
    transition: all 0.7s ease 0s;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup__card {
    padding: 10px;
    background-color: burlywood;
    position: relative;
    border: 1px solid gray;
    border-radius: 0 0 15px 15px;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(6, max-content);
}

.popup__opened {
    opacity: 1;
    visibility: visible;
}

.popup__img {
    width: 210px;
    height: 240px;
    padding: 10px;
}

.fa-times {
    color: white;
    grid-column: 3;
    grid-row: 1;
    align-items: center;
    width: 20px;
}

#closed {
    margin-top: -10px;
    margin-right: -10px;
}

#popup__button {
    grid-column: 2/3;
    grid-row: 6;
    max-width: 200px;
}

.form__button-save {
    grid-row: 6;
    grid-column: 2'

}

/* #form__popup {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: burlywood;
    gap: 10px;
} */

#form__cats {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: burlywood;
    gap: 10px;
}

#form__cat {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: burlywood;
    gap: 10px;
}

#popup__add {
    width: 100%;
    min-height: 100%;
    display: flex;
    z-index: 0;
    /* opacity: 0; */
    justify-content: center;
    visibility: hidden;
    transition: all 0.7s ease 0s;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup__form {
    background-color: burlywood;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, max-content);
    gap: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    ;
}

#form__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input {
    margin: 10px;
}

.buttons__form {
    display: flex;
    gap: 20px;
}

.button__form-popup {
    background-color: orange;
    border-radius: 10px;
}

.button__form-clear {
    background-color: cadetblue;
    border-radius: 10px;
}

form input {
    background-color: burlywood;
    border: none;
    font-size: 20px;
    color: grey
}

label {
    font-size: 24px;
    font-style: inherit;
    color: white
}

.fa-edit {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
}

.button__card-save {
    width: 100px;
    height: 25px;
}